<title>添加集团</title>
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">集团信息</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal myform" id="validation-form">
                        <div id="fuelux-wizard-container">
                            <div class="step-content pos-rel">
                                <div class="step-pane active" data-step="1">
                                    <input type="hidden" name="id" v-model="data.id">
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4 no-padding-right"
                                               for="companyName">集团名称</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="clearfix">
                                                <input type="text" name="companyName" id="companyName"
                                                       class="col-xs-12 col-sm-6 " required maxlength="20"
                                                       v-model="data.companyName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4 no-padding-right"
                                               for="brief">简称</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="clearfix">
                                                <input type="text" name="brief" id="brief" class="col-xs-12 col-sm-6 "
                                                       required
                                                       maxlength="20" v-model="data.brief"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4 no-padding-right"
                                               for="address">地址</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="clearfix">
                                                <input type="text" name="address" id="address"
                                                       class="col-xs-12 col-sm-6 "
                                                       required maxlength="20" v-model="data.address"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4 no-padding-right"
                                               for="people">联系人</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="clearfix">
                                                <input type="text" name="people" id="people" class="col-xs-12 col-sm-6 "
                                                       required maxlength="20" v-model="data.people"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4 no-padding-right"
                                               for="ramarks">备注</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="clearfix">
                                                <input type="text" name="ramarks" id="ramarks"
                                                       class="col-xs-12 col-sm-6 "
                                                       maxlength="20" v-model="data.ramarks"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>
                                </div>
                            </div>
                        </div>

                        <div class="wizard-actions">
                            <center>
                                <button class="btn btn-info" type="button" onclick="tj()">
                                    <i class="fa fa-check bigger-110"></i>
                                    <span>修改</span>
                                </button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/vue-one.js"></script>
<script type="text/javascript">
    var scripts = [null, "ace1.4/components/fuelux/js/wizard.js", "ace1.4/components/jquery-validation/dist/jquery.validate.js", "ace1.4/components/jquery-validation/src/localization/messages_zh.js", "ace1.4/components/jquery-validation/dist/additional-methods.js", "ace1.4/components/bootbox.js/bootbox.js", "ace1.4/components/jquery.maskedinput/dist/jquery.maskedinput.js", "ace1.4/components/select2/dist/js/select2.js", "ace1.4/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js", "ace1.4/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js", null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        myValidate();
    });
    jQuery(function () {
        vue.load("company/one/", getPama());
        // setPama1("company/save");//为表单传值
        // setPama2("#page/company/list");//设置提交数据完成的跳转界面
    })

    function tj() {
        if ($(".myform").valid()) {
            po(getUrl('company/save'), $(".myform").serialize(), function (data) {
                to('#page/company/list');
            });
        }
    }
</script>
