<title>添加品相测定</title>
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="widget-box">
            <form class="form-horizontal myform" id="validation-form">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">品相测定数据</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">

                        <div id="fuelux-wizard-container">
                            <div class="step-content pos-rel">
                                <div class="step-pane active" data-step="1">
                                    <input type="hidden" name="id" v-model="data.id">
                                    <input type="hidden" name="recorder" v-model="data2.cname">
                                    <input type="hidden" name="org.id" v-if="data2.id!=null" v-model="data2.organization.id">
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="code">耳号</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <input type="text" name="lookcode" id="lookcode" required
                                                           maxlength="20" class="col-xs-12 col-sm-6"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="date">评定日期</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <input type="text" name="date" id="date"
                                                           class="col-xs-12 col-sm-6 datep" required maxlength="20"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="footColor">蹄颜色打分</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <select name="footColor" class="col-xs-10 col-sm-6"
                                                            required>
                                                        <option value="">请选择</option>
                                                        <option value="1">1分</option>
                                                        <option value="2">2分</option>
                                                        <option value="2">3分</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="mouthColor">嘴颜色打分</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <select name="mouthColor" class="col-xs-10 col-sm-6"
                                                            required>
                                                        <option value="">请选择</option>
                                                        <option value="1">1分</option>
                                                        <option value="2">2分</option>
                                                        <option value="2">3分</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="hair">毛发打分</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <select name="hair"class="col-xs-10 col-sm-6"
                                                            required>
                                                        <option value="">请选择</option>
                                                        <option value="1">1分</option>
                                                        <option value="2">2分</option>
                                                        <option value="2">3分</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="splash">色斑打分</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <select name="splash" class="col-xs-10 col-sm-6"
                                                            required>
                                                        <option value="">请选择</option>
                                                        <option value="1" >1分</option>
                                                        <option value="2" >2分</option>
                                                        <option value="2" >3分</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="horn">角情况</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <select name="horn" class="col-xs-10 col-sm-6"
                                                            required>
                                                        <option value="">请选择</option>
                                                        <option value="1" >大角</option>
                                                        <option value="2" >小角</option>
                                                        <option value="3">无角</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="fats">脂肪分布</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <select name="fats" class="col-xs-10 col-sm-6"
                                                            required>
                                                        <option value="">请选择</option>
                                                        <option value="1" >1分</option>
                                                        <option value="2" >2分</option>
                                                        <option value="2" >3分</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="tooth">牙齿咬合</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <select name="tooth" class="col-xs-10 col-sm-6"
                                                            required>
                                                        <option value="">请选择</option>
                                                        <option value="1">正常</option>
                                                        <option value="2">错齿</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-12" style="margin-top: 30px;margin-bottom: 20px;">
                        <center>
                            <button class="btn btn-info" onclick="tj()" type="button">
                                <i class="fa fa-check bigger-110"></i>
                                <span>提交</span>
                            </button>
                            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                            <button class="btn btn-prev" type="reset" v-if="data.id==null">
                                <i class="fa fa-undo bigger-110"></i>
                                重置
                            </button>
                        </center>
                    </div>
                    <div style="clear: both"></div>

                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="js/vue-one.js"></script>
<script type="text/javascript">
    var scripts = [null, "ace1.4/components/fuelux/js/wizard.js", "ace1.4/components/jquery-validation/dist/jquery.validate.js", "ace1.4/components/jquery-validation/src/localization/messages_zh.js", "ace1.4/components/jquery-validation/dist/additional-methods.js", "ace1.4/components/bootbox.js/bootbox.js", "ace1.4/components/jquery.maskedinput/dist/jquery.maskedinput.js", "ace1.4/components/select2/dist/js/select2.js", "ace1.4/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js", "ace1.4/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js", null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        myValidate();
    });
    jQuery(function () {
        vue.load("looks/one/", getPama());
        vue.loadCompany();
    })

    function tj(){
        if ($(".myform").valid()) {
            po(getUrl("looks/verify?code=" + $("input[name=lookcode]").val()), function (data) {
                if(data.code=='100'){
                   add();
                }
                else{
                   isPass(data);
                }
            });
        }
    }
    
    function add(){
    	$("#lookcode").attr("name","code")
        po(getUrl("looks/add"), $(".myform").serialize(), function (data) {
            if(data.code=='100'){
                to("#page/phaseDetermination/list")
            }
        })
    }
    
    function isPass(data){
    	if (data.code=='102'){
    		layer.confirm(""+data.msg, {
  				btn: ['是','否'] //按钮
			}, function(){
				add();
				layer.closeAll();
			}, function(){
				
			});
    	}
    	else{
    		 msg(data.msg)
    	}
    }

</script>
