<title>流产列表</title>
<div class="row">
    <div class="col-xs-12" id="app">
        <div class="row">
            <div class="col-xs-12">
                <div class="operate">
                    <div style="background-color: #F2F2F2;padding-top: 12px;padding-left: 20px;padding-bottom: 10px;">
                        <div>
                            <form class="searchForm">
                                <input type="hidden" id="page" value="0" name="pageNum">
                                <div class="box">
                                    <span>耳号</span> <input type="text" name="dam.code" style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>流产日期</span>
                                    <input type="text" name="abortionDateAssistStart" value="" class="datep" readonly="readonly" style="height:25px;width:107px;" ondblclick="clearDate()">&nbsp;到&nbsp;
                                    <input type="text" name="abortionDateAssistEnd" value="" class="end" readonly="readonly" style="height:25px;width:107px; " ondblclick="clearDate()">
                                </div>
                                <div class="box">
                                    <button style="padding:1px 5px;border-radius:5px;" type="button" class="btn btn-xs btn-success"
                                            @click="search">
                                        <i class="icon-search fa fa-search"></i>&nbsp;查询
                                    </button>
                                    <button style="padding:1px 5px;border-radius:5px;"
                                            type="button" class="btn btn-xs btn-success"
                                            @click="search">
                                        <i class="icon-search fa fa-search"></i>&nbsp筛选器
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div>
                            <a href="#page/abortion/add" class="btn btn-xs btn-success add"
                               style="padding:1px 5px;border-radius:5px;"><i class="fa fa-plus"></i> 添加流产</a>
                            <a class="btn btn-xs btn-success add" @click="copyToGroup()"
                               style="padding:1px 5px;border-radius:5px;"><i class="fa fa-copyright"></i> 复制到群组</a>
                            <a @click="editVerify('#page/abortion/edit','abortion/updateUiVerify')" class="btn btn-xs btn-success edit"
                               style="padding:1px 5px;border-radius:5px;"><i class="fa fa-pencil-square-o"></i> 修改</a>
                            <a @click="delRelation()" class="btn btn-xs btn-success del"
                               style="padding:1px 5px;border-radius:5px;"><i class="fa fa-trash-o"></i> 删除</a>
                            <ul class="pagination pull-right">
                                <li><a>共：{{data.totalElements}}</a></li>
                                <li><a @click="goto('0')">首页</a></li>
                                <li :class="data.first==true?'disabled':''">
                                    <a @click="prev">
                                        <i class="ace-icon fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                                    <a @click="goto(n-1)">{{n}}</a>
                                </li>
                                <li :class="data.last==true?'disabled':''">
                                    <a @click="next">
                                        <i class="ace-icon fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                <li><a @click="goto(data.totalPages-1)">末页</a></li>
                                <li><a href="#pagemd"><i class="fa fa-arrow-down bigger-140"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>耳号</th>
                        <th>胎次</th>
                        <!--<th>配种序号</th>-->
                        <!--<th>配种日期</th>-->
                        <th>流产日期</th>
                        <th>流产孕天</th>
                        <th>流产圈舍</th>
                        <th>当前圈舍</th>
                        <th>母羊库存状态</th>
                        <th>流产场区</th>
                        <th>操作人</th>
                        <th>更新时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="abortion in data.content">
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" :value="abortion.id"/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>{{abortion.dam.code}}</td>
                        <td>{{abortion.parity.parityMaxNumber}}</td>
                        <!--<td>配种序号</td>-->
                        <!--<td>配种日期</td>-->
                        <td>{{abortion.abortionDate==null?"":abortion.abortionDate.substring(0,10)}}</td>
                        <td>流产孕天</td>
                        <!--<td>{{Math.abs(new Date(abortion.abortionDate)-new Date(abortion.lambingDam.bornDate))/1000/60/60/24}}</td>-->
                        <td>
                            <span v-if="abortion.paddock!=null">{{abortion.paddock.name}}</span>
                            </td>
                        <td>
                            <span v-if="abortion.dam.paddock!=null"> {{abortion.dam.paddock.name}}</span>
                        </td>
                        <td>
                            <span v-if="abortion.dam.physiologyStatus=='1'">在库</span>
                            <span v-if="abortion.dam.physiologyStatus=='2'">已疾淘</span>
                            <span v-if="abortion.dam.physiologyStatus=='3'">已育淘</span>
                            <span v-if="abortion.dam.physiologyStatus=='4'">已死亡</span>
                            <span v-if="abortion.dam.physiologyStatus=='5'">病淘待审</span>
                            <span v-if="abortion.dam.physiologyStatus=='6'">育淘待审</span>
                            <span v-if="abortion.dam.physiologyStatus=='7'">死亡待审</span>
                            <span v-if="abortion.dam.physiologyStatus=='9'">销售待审</span>
                            <span v-if="abortion.dam.physiologyStatus=='10'">已销售</span>
                            <span v-if="abortion.dam.physiologyStatus=='11'">调拨待审</span>
                            <span v-if="abortion.dam.physiologyStatus=='12'">已调拨</span>
                            <span v-if="abortion.dam.physiologyStatus=='13'">旧死淘</span>
                        </td>
                        <td>
                            <span v-if="abortion.org!=null">{{abortion.org.brief}}</span>
                        </td>
                        <td>{{abortion.recorder}}</td>
                        <td>{{abortion.ctime}}</td>
                    </tr>
                    </tbody>
                </table>
                <div id="layerr" style="padding:20px;display: none;">
                    <input type="text" class="col-sm-12" id="copyGroupName" style="height: 35px;">
                    <button class="btn btn-xs btn-success  btn-submit col-sm-12" type="button" onclick="copy()"
                            style="height:35px;padding:1px 5px;margin-top:10px;margin-left:0px;border-radius:5px;">确认
                    </button>
                </div>
                <ul class="pagination pull-right" id="pagemd">
                    <li><a>共：{{data.totalElements}}</a></li>
                    <li><a @click="goto('0')">首页</a></li>
                    <li :class="data.first==true?'disabled':''">
                        <a @click="prev">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                        <a @click="goto(n-1)">{{n}}</a>
                    </li>
                    <li :class="data.last==true?'disabled':''">
                        <a @click="next">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                    <li><a @click="goto(data.totalPages-1)">末页</a></li>
                    <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    localStorage.url_list = "abortion/list?org.id="+JSON.parse(localStorage.userInfo).organization.id;
    localStorage.delRelation = "abortion/delVerify/";
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
        })
    });
    //复制到群组
    var copyids="";
    function copyToGroup() {
        var ids=getIds()
        if (ids.length>=1) {
            if(ids.length==1){
                if(ids[0]=='on'){
                    msg("不能选择标题")
                    $('.ace').attr('checked', false);
                }else{
                    layerOut();
                    $.each(ids,function(index,value){
                        po(getUrl('abortion/one/'+value),function (data) {
                            copyids=copyids+data.dam.id+','
                        })
                    });
                }
            }
            else{
                $.each(ids,function(index,item){
                    if(item=='on'){
                        ids.splice(index,1);
                    }
                });
                layerOut();
                $.each(ids,function(index,value){
                    po(getUrl('abortion/one/'+value),function (data) {
                        copyids=copyids+data.dam.id+','
                    })
                });
            }
        }else {
            msg("请选择数据！")
        }
    }

    //复制到群组
    function copy() {
        po(getUrl('baseGroup/verify?name='+$('#copyGroupName').val()),function (data) {
            if(data.code=='100'){
                po(getUrl('baseGroup/copy?name='+$('#copyGroupName').val()+'&org.id='+JSON.parse(localStorage.userInfo).organization.id+'&ids='+copyids+"&recorder="+JSON.parse(localStorage.userInfo).cname),function (data) {
                    layer.closeAll();
                    msg('提交成功')
                    $('.ace').attr('checked', false);
                })
            }else{
                $('#copyGroupName').val('')
                msg('该群组名称已存在')
            }
        })
    }
</script>
<script src="js/base-vue.js"></script>
