<title>修改密码</title>
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="widget-box">
            <form class="form-horizontal myform" id="validation-form">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">基本信息</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">

                        <div id="fuelux-wizard-container">
                            <div class="step-content pos-rel">
                                <div class="step-pane active" data-step="1">
                                    <input type="hidden" name="id" v-model="data.id">
                                    <div class="col-lg-10">
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="userName">原密码</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <input type="text" name="userName" id="userName" required maxlength="20"
                                                           class="col-xs-12 col-sm-6 "/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-2"></div>
                                        <div class="form-group">
                                            <label class="control-label col-xs-12 col-sm-5 no-padding-right"
                                                   for="userName">新密码</label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="clearfix">
                                                    <input type="text" name="cname" id="cname"
                                                           class="col-xs-12 col-sm-6" required maxlength="20"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 20px;">
                        <center>
                        <button class="btn btn-info btn-submit">
                            <i class="fa fa-check bigger-110"></i>
                            <span>提交</span>
                        </button>
                        &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                        <button class="btn btn-prev" type="reset" v-if="data.id==null">
                            <i class="fa fa-undo bigger-110"></i>
                           	重置
                        </button>
                        </center>
                    </div>
                    <div style="clear: both"></div>

                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="js/vue-one.js"></script>
<script type="text/javascript">
    var scripts = [null, "ace1.4/components/fuelux/js/wizard.js", "ace1.4/components/jquery-validation/dist/jquery.validate.js", "ace1.4/components/jquery-validation/src/localization/messages_zh.js", "ace1.4/components/jquery-validation/dist/additional-methods.js", "ace1.4/components/bootbox.js/bootbox.js", "ace1.4/components/jquery.maskedinput/dist/jquery.maskedinput.js", "ace1.4/components/select2/dist/js/select2.js", "ace1.4/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js", "ace1.4/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js", null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        myValidate();
    });
    jQuery(function () {
        vue.load("user/one/", getPama());
        setPama1("auth/register");//为表单传值
        setPama2("#page/user/list");//设置提交数据完成的跳转界面
    })
</script>
