<title>用户列表</title>
<div class="row">
    <div class="col-xs-12" id="app">
        <div class="row">
            <div class="col-xs-12">
                <div class="operate">
                    <div style="background-color: #F2F2F2;padding-top: 12px;padding-left: 20px;padding-bottom: 10px;">
                        <div>
                            <form class="searchForm">
                                <input type="hidden" id="page" value="0" name="pageNum">
                                <div class="box">
                                    <span>用户名称</span> <input type="text" name="userName" value=""
                                                             style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>注册日期</span>
                                    <input type="text" name="startDate" value="" class="datep" readonly="readonly" style="height:25px;width:107px;">&nbsp;到&nbsp;
                                    <input type="text" name="endDate" value="" class="datep" readonly="readonly" style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>权限类型</span>
                                    <select name="accountType" style="height:25px;">
                                        <option value="">全部</option>
                                        <option value="Web">Web</option>
                                        <option value="APP">APP</option>
                                    </select>
                                </div>
                                <div class="box">
                                    <button style="padding:1px 5px;border-radius:5px;"
                                            type="button" class="btn btn-xs btn-success"
                                            @click="search">
                                        <i class="icon-search fa fa-search"></i>&nbsp;查询
                                    </button>

                                </div>
                            </form>
                        </div>
                        <div>
                            <a href="#page/user/add" class="btn btn-xs btn-success add"
                               style="padding:1px 5px;border-radius:5px;"><i class="fa fa-plus"></i> 添加新用户</a>
                            <a @click="edit('#page/user/add')" class="btn btn-xs btn-success edit"
                               style="padding:1px 5px;border-radius:5px;"><i
                                    class="fa fa-pencil-square-o"></i> 修改</a>
                            <a @click="del()" class="btn btn-xs btn-success del"
                               style="padding:1px 5px;border-radius:5px;"><i class="fa fa-trash-o"></i> 删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace"/>
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>用户名称</th>
                        <th>注册日期</th>
                        <th>账号范围</th>
                        <th>权限类型</th>
                        <th>角色</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="user in data.content">
                        <td class="center">
                            <label class="pos-rel">
                                <input type="checkbox" class="ace" :value="user.id"/>
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>{{user.userName}}</td>
                        <td>{{user.ctime}}</td>
                        <td>{{user.accountScope}}</td>
                        <td>{{user.accountType}}</td>
                        <td>{{user.role.name}}</td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination pull-right">
                    <li :class="data.first==true?'disabled':''">
                        <a @click="prev">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                        <a @click="goto(n-1)">{{n}}</a>
                    </li>
                    <li :class="data.last==true?'disabled':''">
                        <a @click="next">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    localStorage.url_list = "user/list";
    localStorage.url_del = "user/dels";
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
        })
    });

</script>
<script src="js/base-vue.js"></script>
