<title>添加栋栏管理</title>
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">栋栏管理</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <form class="form-horizontal myform" id="validation-form">
                        <div id="fuelux-wizard-container">
                            <div class="step-content pos-rel">
                                <div class="step-pane active" data-step="1">
                                    <input type="hidden" name="id" v-model="data.id">
                                    <input type="hidden" name="flag" value="1">
                                    <input type="hidden" name="recorder" v-model="data2.cname">
                                    <input type="hidden" name="org.id" v-if="data2.id!=null" v-model="data2.organization.id">
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4 no-padding-right"
                                               for="code">圈舍名称</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="clearfix">
                                                <input type="text" name="name" id="name"
                                                       class="col-xs-12 col-sm-6"
                                                       required maxlength="20"
                                                      v-model="data.name"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-12 col-sm-4 no-padding-right" for="customer">饲养员</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="clearfix">
                                                <select class="col-xs-12 col-sm-6" name="contact.id" required v-if="data.contact!=null" v-model="data.contact.id"
                                                        id="contact">
                                                    <option value="">请选择</option>
                                                    <option v-for="contact in data1" :value="contact.id">
                                                        {{contact.firstName}}
                                                    </option>
                                                </select>
                                                <select class="col-xs-12 col-sm-6" name="contact.id" required v-else id="contact">
                                                    <option value="">请选择</option>
                                                    <option v-for="contact in data1" :value="contact.id">
                                                        {{contact.firstName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                </div>
                            </div>
                        </div>

                        <div class="wizard-actions">
                            <center>
                                <button class="btn btn-info" onclick="tj()" type="button" v-if="data.id==null">
                                    <i class="fa fa-check bigger-110"></i>
                                    <span>提交</span>
                                </button>
                                <button class="btn btn-info" onclick="tj()" type="button"  v-if="data.id!=null">
                                    <i class="fa fa-check bigger-110"></i>
                                    <span>修改</span>
                                </button>
                                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                <button class="btn btn-prev" type="reset" id="resetBtn" v-if="data.id==null">
                                    <i class="fa fa-undo bigger-110"></i> 重置
                                </button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/vue-one.js"></script>
<script type="text/javascript">


    var scripts = [null, "ace1.4/components/fuelux/js/wizard.js", "ace1.4/components/jquery-validation/dist/jquery.validate.js", "ace1.4/components/jquery-validation/src/localization/messages_zh.js", "ace1.4/components/jquery-validation/dist/additional-methods.js", "ace1.4/components/bootbox.js/bootbox.js", "ace1.4/components/jquery.maskedinput/dist/jquery.maskedinput.js", "ace1.4/components/select2/dist/js/select2.js", "ace1.4/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js", "ace1.4/components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js", null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        myValidate();
    });
    jQuery(function () {
        vue.load("paddock/one/", getPama());
        vue.loadCompany();
        vue.loadPama('contact/breeder');
//        setPama1("paddockType/save");//为表单传值
//        setPama2("#page/fenceManagement/list");//设置提交数据完成的跳转界面
    })
function tj(){
    if ($(".myform").valid()){
        if(vue.data.id!=null){
            po(getUrl("paddock/save"), $(".myform").serialize(), function (data) {
                to("#page/fenceManagement/list");
            })
        }else{
            po(getUrl("paddock/nameVerify"), $(".myform").serialize(), function (data) {
                if(data){
                    po(getUrl("paddock/save"), $(".myform").serialize(), function (data) {
                        to("#page/fenceManagement/list");
                    })
                }
                else {
                    msg("该栏栋名称已重复")
                }
            })
        }

    }

}
</script>
