<title>鲜胚移植查询</title>
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="operate">
            <center><h1>{{data1.projectName}}</h1></center>
            <div style="background-color: #F2F2F2;padding-top: 20px;padding-left: 10px;padding-bottom: 10px;">
                <div>
                    <div>
                        <a @click="childrenurl('#page/embryo/donorGroup')"
                           class="btn btn-xs" style="margin-right:5px;"
                           style="padding:1px 5px;border-radius:5px;"><i class="icon-sitemap fa fa-sitemap"></i>&nbsp;供体组群</a>
                        <a @click="childrenurl('#page/embryo/receptorGroup')"
                           class="btn btn-xs" style="margin-right:5px;"
                           style="padding:1px 5px;border-radius:5px;"><i class="icon-sitemap fa fa-bullseye"></i>&nbsp;受体组群</a>
                        <a @click="childrenurl('#page/embryo/AI')"
                           class="btn btn-xs" style="margin-right:5px;"
                           style="padding:1px 5px;border-radius:5px;"><i class="icon-sitemap fa fa-venus-mars"></i>&nbsp;供体AI</a>
                        <a @click="childrenurl('#page/embryo/embryoSet')"
                           class="btn btn-xs" style="margin-right:5px;"
                           style="padding:1px 5px;border-radius:5px;"><i class="icon-sitemap fa fa-retweet"></i>&nbsp;供体冲胚、鲜胚移植、冻胚制作</a>
                        <a @click="childrenurl('#page/embryo/freshEmbryo')"
                           class="btn btn-xs btn-success" style="margin-right:5px;"
                           style="padding:1px 5px;border-radius:5px;"><i class="icon-sitemap fa fa-life-ring"></i>&nbsp;鲜胚移植查询</a>
                        <a @click="childrenurl('#page/embryo/frozenEmbryo')"
                           class="btn btn-xs" style="margin-right:5px;"
                           style="padding:1px 5px;border-radius:5px;"><i class="icon-sitemap fa fa-asterisk"></i>&nbsp;冻胚制作查询</a>
                    </div>
                    <div>
                        <!--<a href="#page/embryo/freshEmbryo" class="btn btn-xs btn-success add"-->
                           <!--style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;">-->
                            <!--<i class="icon-sitemap fa fa-plus"></i>&nbsp; 添加鲜胚移植</a>-->
                        <!--<a @click="edit('#page/embryo/add')" class="btn btn-xs btn-success edit"-->
                           <!--style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;"><i-->
                                <!--class="fa fa-pencil-square-o"></i> 修改</a>-->
                        <!--<a @click="del()" class="btn btn-xs btn-success del"-->
                           <!--style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;"><i-->
                                <!--class="fa fa-trash-o"></i>-->
                            <!--删除</a>-->
                    </div>
                    <form class="searchForm">

                        <input type="hidden" id="page" value="0" name="pageNum">
                        <div class="box">
                            <span>受体耳号</span>
                            <input type="text" name="embryoTransplant.receptor.code"
                                                     style="height:25px;width:107px;">
                        </div>

                        <div class="box">
                            <button style="padding:1px 5px;border-radius:5px;"
                                    type="button" class="btn btn-xs btn-success"
                                    @click="search">
                                <i class="icon-search fa fa-search"></i>&nbsp;查询
                            </button>
                        </div>
                        <ul class="pagination pull-right">
                            <li><a>共：{{data.totalElements}}</a></li>
                            <li><a @click="goto('0')">首页</a></li>
                            <li :class="data.first==true?'disabled':''">
                                <a @click="prev">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                                <a @click="goto(n-1)">{{n}}</a>
                            </li>
                            <li :class="data.last==true?'disabled':''">
                                <a @click="next">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            <li><a @click="goto(data.totalPages-1)">末页</a></li>
                            <li><a href="#pagemd"><i class="fa fa-arrow-down bigger-140"></i></a></li>
                        </ul>
                    </form>
                </div>



            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>受体移植序号</th>
                <th>受体耳号</th>
                <th>移植日期</th>
                <th>供体母羊号</th>
                <th>供体公羊号</th>
                <th>移植胚胎数</th>
                <th>基因等级</th>
                <th>是否怀孕</th>
                <th>是否产羔</th>
                <th>产羔数</th>
                <th>操作人</th>
                <th>更新时间</th>

            </tr>
            </thead>
            <tbody>
            <tr v-for="embryoTransplant in data.content">
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" :value="embryoTransplant.id"/>
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>{{embryoTransplant.sheetCode}}</td>
                <td>
                    <span v-if="embryoTransplant.receptor!=null">{{embryoTransplant.receptor.code}}</span>
                </td>
                <td>{{embryoTransplant.date==null?"":embryoTransplant.date.substring(0,10)}}</td>
                <td>{{embryoTransplant.embryoFlush.joining.dam.code}}</td>
                <td>{{embryoTransplant.embryoFlush.joining.sire.code}}</td>
                <td>{{embryoTransplant.embryoFlush.number}}</td>
                <td>{{embryoTransplant.embryoFlush.purposeType}}</td>
                <td>未开发</td>
                <td>未开发</td>
                <td>未开发</td>
                <td>{{embryoTransplant.recorder}}</td>
                <td>{{embryoTransplant.ctime}}</td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination pull-right" id="pagemd">
            <li><a>共：{{data.totalElements}}</a></li>
            <li><a @click="goto('0')">首页</a></li>
            <li :class="data.first==true?'disabled':''">
                <a @click="prev">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                <a @click="goto(n-1)">{{n}}</a>
            </li>
            <li :class="data.last==true?'disabled':''">
                <a @click="next">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>
            <li><a @click="goto(data.totalPages-1)">末页</a></li>
            <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    var s = localStorage.deathDisposalReasonId;
    //从列表种选择的codes
    var ids;
    localStorage.url_list = "embryoTransplant/list?project.id="+s;

    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
            root.loadCompany();
            root.loadPama("embryoProject/one/"+s);
        })
    });

</script>
<script src="js/base-vue.js"></script>
