<title>供货商维护</title>
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="operate">
            <div style="background-color: #F2F2F2;padding-top: 10px;padding-left: 10px;padding-bottom: 10px;">
                <div>
                    <form class="searchForm">
                        <input type="hidden" id="page" value="0" name="pageNum">
                        <div class="box">
                            <span>供应商名称</span>
                            <input type="text" name="firstName" value=""
                                   style="height:25px;width:107px;">
                        </div>
                        <div class="box">
                            <button style="padding:1px 5px;border-radius:5px;"
                                    type="button" class="btn btn-xs btn-success"
                                    @click="search" >
                                <i class="icon-search fa fa-search"></i>&nbsp;查询
                            </button>

                        </div>
                    </form>
                </div>
                <div>
                    <a href="#page/supplier/add" class="btn btn-xs btn-success add"
                       style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;"><i class="fa fa-plus"></i>
                        添加供货商 </a>
                    <a @click="editlayer()" class="btn btn-xs btn-success edit" style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;"> 修改</a>
                    <a @click="typeUpdate('0')" class="btn btn-xs btn-success del"
                       style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;">
                        存档</a>
                    <a @click="typeUpdate('1')" class="btn btn-xs btn-success del"
                       style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;">
                        可用</a>
                    <ul class="pagination pull-right" id="pagemd">
                        <li><a>共：{{data.totalElements}}</a></li>
                        <li><a @click="goto('0')">首页</a></li>
                        <li :class="data.first==true?'disabled':''">
                            <a @click="prev">
                                <i class="ace-icon fa fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                            <a @click="goto(n-1)">{{n}}</a>
                        </li>
                        <li :class="data.last==true?'disabled':''">
                            <a @click="next">
                                <i class="ace-icon fa fa-angle-double-right"></i>
                            </a>
                        </li>
                        <li><a @click="goto(data.totalPages-1)">末页</a></li>
                        <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>供应商全称</th>
                <th>状态</th>
                <th>简称</th>
                <th>联系人</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="customer in data.content">
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" :value="customer.id"/>
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>{{customer.firstName}}</td>
                <td>
                    <span v-if="customer.flag=='0'">存档</span>
                    <span v-if="customer.flag=='1'">可用</span>

                </td>
                <td>{{customer.abbreviation}}</td>
                <td>{{customer.contacts}}</td>
                <td>{{customer.comment}}</td>


            </tr>
            </tbody>
        </table>
        <ul class="pagination pull-right" id="pagemd">
            <li><a>共：{{data.totalElements}}</a></li>
            <li><a @click="goto('0')">首页</a></li>
            <li :class="data.first==true?'disabled':''">
                <a @click="prev">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                <a @click="goto(n-1)">{{n}}</a>
            </li>
            <li :class="data.last==true?'disabled':''">
                <a @click="next">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>
            <li><a @click="goto(data.totalPages-1)">末页</a></li>
            <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    localStorage.url_list = "contact/supplierList";
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
        })
    });

    //修改校验 //实现修改
    function editlayer() {
        var ids = getIds();
        if (ids.length == 1) {
            setPama(ids[0]);
            root.loadedit("contact/one/");
            po(getUrl("contact/falgVerify/" + ids), function (data) {
                if(data){
                    to('#page/supplier/add')
                }
                else{
                    msg("您选择的数据已存档，不允许修改")
                }
            })
        } else if (ids.length > 1) {
            msg("只能选择一条数据！")
        } else {
            msg("请选择数据！")
        }
    }

    //实现存档
    function typeUpdate(flagc) {
        var ids = getIds();
        if (ids.length == 1) {
            setPama(ids[0]);
            root.loadedit("contact/one/");
            $.post(base_url + "contact/falgSave/" +getIds() +'/'+ flagc, function (data1) {
                //若果修改成功跳转页面
                if (data1.code == "100") {
                    $('.ace').attr('checked', false);
                    root.load();
                }
            })
        } else if (ids.length > 1) {
            msg("只能选择一条数据！")
        } else {
            msg("请选择数据！")
        }

    }
</script>
<script src="js/base-vue.js"></script>
