<title>胚胎库存</title>
<div class="row">
    <div class="col-xs-12" id="app">
        <div class="row">
            <div class="col-xs-12">
                <div class="operate">
                    <div style="background-color: #F2F2F2;padding-top: 12px;padding-left: 20px;padding-bottom: 10px;">
                        <div>
                            <form class="searchForm">
                                <input type="hidden" id="page" value="0" name="pageNum">
                                <div class="box">
                                    <span>细管号</span> <input type="text" name="tubuleCode" value=""
                                                           style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>品种</span>
                                    <select name="breed.id" style="height:25px;">
                                        <option value="">全部</option>
                                        <option v-for="breed in data1" :value="breed.id">{{breed.breedName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="box">
                                    <span>基因等级</span>
                                    <select name="geneticLevel" style="height:25px;">
                                        <option value="">全部</option>
                                        <option value="1">核心</option>
                                        <option value="2">生产</option>
                                        <!--<option value="3">销售</option>-->
                                    </select>
                                </div>
                                <div class="box">
                                    <span>供体母羊号</span> <input type="text" name="donorCode"
                                                            style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>供体公羊号</span> <input type="text" name="sireCode"
                                                            style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>罐号</span> <input type="text" name=""
                                                            style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>来源</span>
                                    <select name="" style="height:25px;">
                                        <option value="">全部</option>
                                    </select> <select name="" style="height:25px;">
                                    <option value="">全部</option>
                                </select>

                                </div>
                                <div class="box">
                                    <button style="padding:1px 5px;border-radius:5px;"
                                            type="button" class="btn btn-xs btn-success"
                                            @click="search">
                                        <i class="icon-search fa fa-search"></i>&nbsp;查询
                                    </button>
                                    <a href="javascript:exports('frozenEmbryo/export?','org.id')" class="btn btn-xs btn-success add"
                                       style="padding:1px 5px;border-radius:5px;"><i class="fa fa-upload"></i> 数据导出</a>

                                </div>
                                <ul class="pagination pull-right">
                                    <li><a>共：{{data.totalElements}}</a></li>
                                    <li><a @click="goto('0')">首页</a></li>
                                    <li :class="data.first==true?'disabled':''">
                                        <a @click="prev">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                                        <a @click="goto(n-1)">{{n}}</a>
                                    </li>
                                    <li :class="data.last==true?'disabled':''">
                                        <a @click="next">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li><a @click="goto(data.totalPages-1)">末页</a></li>
                                    <li><a href="#pagemd"><i class="fa fa-arrow-down bigger-140"></i></a></li>
                                </ul>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">


            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>细管号</th>
                    <th>存储数</th>
                    <th>存储罐号</th>
                    <th>生产日期</th>
                    <th>基因等级</th>
                    <th>品种</th>
                    <th>供体母羊号</th>
                    <th>供体公羊号</th>
                    <th>存储场区</th>
                    <th>来源</th>
                </thead>
                <tbody>
                <tr v-for="frozenEmbryo in data.content">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace prid" :value="frozenEmbryo.id"/>
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>
                        {{frozenEmbryo.tubuleCode}}
                    </td>
                    <td>{{frozenEmbryo.frozenNumber}}</td>
                    <td>
                        <span v-if="frozenEmbryo.frozenStore!=null">{{frozenEmbryo.frozenStore.name}}</span>
                    </td>
                    <td>{{frozenEmbryo.freezeDate==null?"":frozenEmbryo.freezeDate.substring(0,10)}}</td>
                    <!--<td>{{frozenEmbryo.enterhDay}}</td>-->
                    <td>
                        <span v-if="frozenEmbryo.geneticLevel=='1'">核心</span>
                        <span v-if="frozenEmbryo.geneticLevel=='2'">生产</span>
                    </td>
                    <td>
                        <span v-if="frozenEmbryo.embryoRegistration!=null">{{frozenEmbryo.embryoRegistration.breed.breedName}}</span>
                    </td>

                    <td>{{frozenEmbryo.donorCode}}</td>
                    <td>{{frozenEmbryo.sireCode}}</td>
                    <td>
                        <span v-if="frozenEmbryo.org!=null">{{frozenEmbryo.org.orgName}}</span>
                    </td>
                    <td>
                        <span v-if="frozenEmbryo.purchaseFrom=='1'">自产</span>
                        <span v-if="frozenEmbryo.purchaseFrom=='2'">购入</span>
                        <span v-if="frozenEmbryo.source!=null">
                        {{frozenEmbryo.source.brief}}
                        </span>
                        <span v-if="frozenEmbryo.customer!=null">
                        {{frozenEmbryo.customer.firstName}}
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
                <ul class="pagination pull-right" id="pagemd">
                    <li><a>共：{{data.totalElements}}</a></li>
                    <li><a @click="goto('0')">首页</a></li>
                    <li :class="data.first==true?'disabled':''">
                        <a @click="prev">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                        <a @click="goto(n-1)">{{n}}</a>
                    </li>
                    <li :class="data.last==true?'disabled':''">
                        <a @click="next">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                    <li><a @click="goto(data.totalPages-1)">末页</a></li>
                    <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
                </ul>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    localStorage.url_list = "frozenEmbryo/inventory?org.id="+JSON.parse(localStorage.userInfo).organization.id;
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
            root.loadCompany();
            root.loadPama("breed/all");
            root.loadPama1("contact/findBySupplier");

        })
    });

</script>
<script src="js/base-vue.js"></script>
