<title>圈舍存栏</title>
<div class="row">
    <div class="col-xs-12" id="app">
        <div class="row">
            <div class="col-xs-12">
                <div class="operate">

                    <div style="background-color: #F2F2F2;padding-top: 12px;padding-left: 20px;padding-bottom: 10px;">
                        <div>
                            <center><h1 id="getDate"></h1></center>
                        </div>
                        <div>
                            <form class="searchForm">
                                <input type="hidden" id="page" value="0" name="pageNum">
                                <div class="box">
                                    <button style="padding:1px 5px;border-radius:5px;"
                                            type="button" class="btn btn-xs btn-success"
                                            onclick="getNow('1')">实时存栏
                                    </button>
                                </div>
                                <div class="box">
                                    <button style="padding:1px 5px;border-radius:5px;"
                                            type="button" class="btn btn-xs btn-success"
                                            onclick="getNow('0')">历史存栏
                                    </button>
                                </div>
                                <div id="term" style="display: none">
                                    <div class="box">
                                        <span>日期</span>
                                        <input type="text" name="date"  class="datep" style="height:25px;width:107px;" id="date">
                                    </div>
                                    <div class="box">
                                        <button style="padding:1px 5px;border-radius:5px;"
                                                type="button" class="btn btn-xs btn-success"
                                                onclick="getData()">
                                            <i class="icon-search fa fa-search"></i>&nbsp;查询
                                        </button>
                                    </div>
                                </div>
                                <ul class="pagination pull-right">
                                    <li><a>共：{{data88.totalElements}}</a></li>
                                    <li><a @click="goto('0')">首页</a></li>
                                    <li :class="data88.first==true?'disabled':''">
                                        <a @click="prev">
                                            <i class="ace-icon fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li v-for="n in data88.endPage" :class="data88.number+1 == n?'active':''" v-if="n>=data88.startPage">
                                        <a @click="goto(n-1)">{{n}}</a>
                                    </li>
                                    <li :class="data88.last==true?'disabled':''">
                                        <a @click="next">
                                            <i class="ace-icon fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                    <li><a @click="goto(data88.totalPages-1)">末页</a></li>
                                    <li><a href="#pagemd"><i class="fa fa-arrow-down bigger-140"></i></a></li>
                                </ul>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="simple-table" class="table  table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>圈舍名称</th>
                        <th>羊只数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>合计</td>
                        <td id="total"></td>
                    </tr>
                    <tr v-for="house in data88.content">
                        <td>{{house.paddock.name}}</td>
                        <td>{{house.num}}</td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination pull-right" id="pagemd">
                    <li><a>共：{{data88.totalElements}}</a></li>
                    <li><a @click="goto('0')">首页</a></li>
                    <li :class="data88.first==true?'disabled':''">
                        <a @click="prev">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li v-for="n in data88.endPage" :class="data88.number+1 == n?'active':''" v-if="n>=data88.startPage">
                        <a @click="goto(n-1)">{{n}}</a>
                    </li>
                    <li :class="data88.last==true?'disabled':''">
                        <a @click="next">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                    <li><a @click="goto(data88.totalPages-1)">末页</a></li>
                    <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    localStorage.url_list = "user/list";
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
            $('h1').html(show()+"圈舍存栏")
            root.getCount("paddock/livestockStatistics?orgId="+JSON.parse(localStorage.userInfo).organization.id)
        })
    });

    function getData() {
        var date=$("input[name=date]").val();
        $('h1').html(date.substring(0,4)+'年'+date.substring(5,7)+'月'+date.substring(8,10)+'日'+"圈舍存栏")
        root.getCount("onHand/list?paddock.org.id="+JSON.parse(localStorage.userInfo).organization.id+'&date='+$("input[name=date]").val())
        // root.load()
    }
    function show(){
        var mydate = new Date();
        var str = "" + mydate.getFullYear()+"年";
        if(mydate.getMonth()+1>10){
            str += (mydate.getMonth()+1)+"月";
        }
        else{
            str+='0';
            str += (mydate.getMonth()+1)+"月";
        }
        str += mydate.getDate()+"日";
        return str;
    }

    function getNow(t) {
        if(t=='1'){
            $("#term").hide()
            root.getCount("paddock/livestockStatistics?orgId="+JSON.parse(localStorage.userInfo).organization.id)
            $("#date").val('');
            $('h1').html(show()+"圈舍存栏")
        }else{
            $("#term").show()
        }
    }
</script>
<script src="js/base-vue.js"></script>
