<title>已售查询</title>
<div class="row">
    <div class="col-xs-12" id="app">
        <div class="row">
            <div class="col-xs-12">
                <div class="operate">
                    <div style="background-color: #F2F2F2;padding-top: 12px;padding-left: 20px;padding-bottom: 10px;">
                        <div>
                            <form class="searchForm">
                                <input type="hidden" id="page" value="0" name="pageNum">
                                <div class="box">
                                    <span>耳号</span> <input type="text" name="" value=""
                                                           style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>品种</span>
                                    <select name="breed.id" style="height:25px;">
                                        <option value="">全部</option>
                                        <option v-for="breed in data1" :value="breed.id">{{breed.breedName}}</option>
                                    </select>
                                </div>
                                <div class="box">
                                    <span>性别</span>
                                    <select name="accountType" style="height:25px;">
                                        <option value="">全部</option>
                                        <option value="1">公羊</option>
                                        <option value="2">母羊</option>
                                    </select>
                                </div>
                                <div class="box">
                                    <span>生理状态</span>
                                    <select name="" style="height:25px;">
                                        <option value="">全部</option>
                                    </select>
                                </div>
                                <div class="box">
                                    <span>定级</span>
                                    <select name="" style="height:25px;">
                                        <option value="">全部</option>
                                    </select>
                                </div>

                                <div class="box">
                                    <span>销售日期</span>
                                    <input type="text" name="startDate" value="" class="datep" readonly="readonly"
                                           style="height:25px;width:107px;">&nbsp;到&nbsp;
                                    <input type="text" name="endDate" value="" class="end" readonly="readonly"
                                           style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>销售单号</span>
                                    <input type="text" name="userName" style="height:25px;width:107px;">
                                </div>
                                <div class="box">
                                    <span>业务员</span>
                                    <select name="breed.id" style="height:25px;">
                                        <option value="">全部</option>
                                        <option v-for="breed in data1" :value="breed.id">{{breed.breedName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="box">
                                    <button style="padding:1px 5px;border-radius:5px;"
                                            type="button" class="btn btn-xs btn-success"
                                            @click="search">
                                        <i class="icon-search fa fa-search"></i>&nbsp;查询
                                    </button>
                                    <a href="javascript:exports('salesDatail/export?','item.org.id')" class="btn btn-xs btn-success add"
                                       style="padding:1px 5px;border-radius:5px;"><i class="fa fa-upload"></i> 数据导出</a>
                                </div>
                                <div class="tabbable">
                                    <ul id="inbox-tabs"
                                        class="inbox-tabs nav nav-tabs tab-size-bigger tab-space-1">
                                        <!-- /section:pages/inbox.compose-btn -->
                                        <li class="active"><a href="#page/sold/list"
                                                              style="border-left:0px;border-right:0px;"> <i
                                                class="blue ace-icon fa fa-venus-mars bigger-180"></i>
                                            <span class="bigger-50">羊只</span>
                                        </a></li>
                                        <li><a href="#page/sold/embryoList" style="border:0px">
                                            <i class="orange ace-icon fa fa-stethoscope bigger-180"></i>
                                            <span class="bigger-50">胚胎</span>
                                        </a></li>
                                    </ul>
                                    <button
                                            class="aside-trigger btn btn-info btn-app btn-xs ace-settings-btn visible-xs"
                                            data-target="#right-menu" data-toggle="modal"
                                            type="button" style="margin-top: -110px;">
                                        <i data-icon1="fa-search" data-icon2="fa-search"
                                           class="ace-icon fa fa-search icon-only"></i>
                                    </button>
                                    <ul class="pagination pull-right">
                                        <li><a>共：{{data.totalElements}}</a></li>
                                        <li><a @click="goto('0')">首页</a></li>
                                        <li :class="data.first==true?'disabled':''">
                                            <a @click="prev">
                                                <i class="ace-icon fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                                            <a @click="goto(n-1)">{{n}}</a>
                                        </li>
                                        <li :class="data.last==true?'disabled':''">
                                            <a @click="next">
                                                <i class="ace-icon fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                        <li><a @click="goto(data.totalPages-1)">末页</a></li>
                                        <li><a href="#pagemd"><i class="fa fa-arrow-down bigger-140"></i></a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">


            <table id="simple-table" class="table  table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace"/>
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>耳号</th>
                    <th>品种</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>月龄</th>
                    <th>销售定级</th>
                    <th>定价</th>
                    <th>成交价</th>
                    <th>生理状态</th>
                    <th>销售日期</th>
                    <th>销售单号</th>
                    <th>业务员</th>
                    <th>操作人</th>

                </thead>
                <tbody>
                <tr v-for="salesDatail in data.content">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace" :value="salesDatail.id"/>
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>{{salesDatail.item.code}}</td>
                    <td>{{salesDatail.item.breed.breedName}}</td>
                    <td>
                        <span v-if="salesDatail.item.sex=='1'">公羊</span>
                        <span v-if="salesDatail.item.sex=='2'">母羊</span>
                    </td>
                    <td>{{salesDatail.item.birthDay!=null?salesDatail.item.birthDay.substring(0,10):""}}</td>
                    <td>{{salesDatail.item.moonAge}}</td>
                    <td>{{salesDatail.item.rank.name}}</td>
                    <td>{{salesDatail.item.rank.price}}</td>
                    <td>{{salesDatail.price}}</td>
                    <td>
                         <span v-if="salesDatail.item!=null">
                            <span v-if="salesDatail.item.bornStatus=='2'">羔羊</span>
                            <span v-if="salesDatail.item.bornStatus=='3'">青年羊</span>
                            <span v-if="salesDatail.item.bornStatus=='4'">成年羊</span>
                        </span>
                    </td>
                    <td>{{salesDatail.ctime!=null?salesDatail.ctime.substring(0,10):""}}</td>
                    <td>{{salesDatail.sales.code}}</td>
                    <td>{{salesDatail.sales.contact!=null?salesDatail.sales.contact.firstName:""}}</td>
                    <td>{{salesDatail.recorder}}</td>
                </tr>
                </tbody>
            </table>
                <ul class="pagination pull-right" id="pagemd">
                    <li><a>共：{{data.totalElements}}</a></li>
                    <li><a @click="goto('0')">首页</a></li>
                    <li :class="data.first==true?'disabled':''">
                        <a @click="prev">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                        <a @click="goto(n-1)">{{n}}</a>
                    </li>
                    <li :class="data.last==true?'disabled':''">
                        <a @click="next">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>
                    <li><a @click="goto(data.totalPages-1)">末页</a></li>
                    <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
                </ul>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    localStorage.url_list = "salesDatail/inventory?item.org.id="+JSON.parse(localStorage.userInfo).organization.id;
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
        })
    });

</script>
<script src="js/base-vue.js"></script>
