<title>员工档案</title>
<div class="row" id="app">
    <div class="col-xs-12">
        <div class="operate">
            <div style="background-color: #F2F2F2;padding-top: 20px;padding-left: 10px;padding-bottom: 10px;">
                <div>
                    <form class="myform searchForm">
                        <input type="hidden" id="page" value="0" name="pageNum">
                        <input type="hidden" name="flag" value="1">
                        <input type="hidden" name="org.id" v-if="data5.id!=null" v-model="data5.organization.id">
                        <div class="box">
                            <span>姓名</span>
                            <input type="text" name="firstName" id="firstName" style="height:25px;width:107px;">
                        </div>
                        <div class="box">
                            <span>角色</span>
                            <select name="contactType.id" style="height:25px;" id="role">
                                <option value="">全部</option>
                                <option v-for="contactType in data8" :value="contactType.id">{{contactType.type}}
                                </option>
                            </select>
                        </div>
                        <div class="box">
                            <button style="padding:1px 5px;border-radius:5px;"
                                    type="button" class="btn btn-xs btn-success"
                                    @click="search">
                                <i class="icon-search fa fa-search"></i>&nbsp;查询
                            </button>

                        </div>
                        <a class="btn btn-xs btn-success add" onclick="sx()"
                           style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;">
                            添加到列表</a>
                        <a @click="delRelation()" class="btn btn-xs btn-success edit"
                           style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;"> 删除</a>
                        <a @click="typeUpdate('0')" class="btn btn-xs btn-success del" id="nouse"
                           style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;">
                            存档</a>
                        <a @click="typeUpdate('1')" class="btn btn-xs btn-success del" id="use"
                           style="height：25px;padding:1px 5px;margin-left:0px;border-radius:5px;">
                            可用</a>
                        <ul class="pagination pull-right">
                            <li><a>共：{{data.totalElements}}</a></li>
                            <li><a @click="goto('0')">首页</a></li>
                            <li :class="data.first==true?'disabled':''">
                                <a @click="prev">
                                    <i class="ace-icon fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                                <a @click="goto(n-1)">{{n}}</a>
                            </li>
                            <li :class="data.last==true?'disabled':''">
                                <a @click="next">
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            <li><a @click="goto(data.totalPages-1)">末页</a></li>
                            <li><a href="#pagemd"><i class="fa fa-arrow-down bigger-140"></i></a></li>
                        </ul>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div id="layerr" style="padding:20px;display: none;">
            <form id="layer">
                <input type="hidden" name="id" v-model="data6.id" id="updataId">
                <input type="hidden" name="flag" value="1">
                <input type="text" value="" required maxlength="20" name="firstName" id="updateName" class="col-sm-12"
                       v-model="data6.firstName" style="height:35px;margin-bottom: 15px;">
                <select name="contactType.id" style="height:35px;margin-bottom:15px;" id="ss" class="col-sm-12" v-if="data6.id!=null" v-model="data6.contactType.id">
                    <option v-for="contactType in data8" :value="contactType.id">{{contactType.type}}</option>
                </select>
                <button class="btn btn-xs btn-success  btn-submit col-sm-12" onclick="nameUpdate()"
                        style="height:35px;padding:1px 5px;margin-left:0px;border-radius:5px;">
                    确认
                </button>
            </form>
        </div>
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>姓名</th>
                <th>角色</th>
                <th>状态</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="contact in data.content">
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" :value="contact.id">
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>{{contact.firstName}}</td>
                <td>{{contact.contactType.type}}</td>
                <td>
                    <span v-if="contact.flag=='0'">存档</span>
                    <span v-if="contact.flag=='1'">可用</span>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination pull-right" id="pagemd">
            <li><a>共：{{data.totalElements}}</a></li>
            <li><a @click="goto('0')">首页</a></li>
            <li :class="data.first==true?'disabled':''">
                <a @click="prev">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            <li v-for="n in data.endPage" :class="data.number+1 == n?'active':''" v-if="n>=data.startPage">
                <a @click="goto(n-1)">{{n}}</a>
            </li>
            <li :class="data.last==true?'disabled':''">
                <a @click="next">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>
            <li><a @click="goto(data.totalPages-1)">末页</a></li>
            <li><a href="#app"><i class="fa fa-arrow-up bigger-140"></i></a></li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    localStorage.url_list = "contact/list?org.id="+JSON.parse(localStorage.userInfo).organization.id;
    localStorage.delRelation = "contact/del/";
    
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            initCheckBox();
            //root.loadPama1("contactType/all");
            root.loadPama1("contactType/staffAll");
            root.loadCompany();
        })
    });

    //判断所选内容是否存档，存档（可用按钮可用），可用（存档按钮可用）
         $(".ace").click(function () {
             alert("可用")
        })

    //实现添加
    function sx() {
        if ($("input[name='firstName']").val().length == 0) {
            msg("姓名不能为空")
        }
        else {
            if ($("#role option:selected").text() == '全部') {
                msg("角色不能为空")
            }
            else {
                po(getUrl("contact/firstNameVerify"), $(".myform").serialize(), function (data) {
                    if (!data) {
                        msg("姓名已存在")
                    } else {
                        po(getUrl("contact/save"), $(".myform").serialize(), function (data) {
                            $("input[name=firstName]").val("");
                            $("#role").val("");
                            root.load();

                        });
                    }
                })
            }
        }
    }

    //实现修改
    function editlayer() {
        var ids = getIds();
        if (ids.length == 1) {
            setPama(ids[0]);
            root.loadedit("contact/one/");
            po(getUrl("contact/falgVerify/" + ids), function (data) {
                if (data) {
                    layer.open({
                        type: 1,
                        title: '修改',
                        area: ['300px', '220px'],
                        shadeClose: true,
                        content: $("#layerr")
                    });
                }
                else {
                    msg("您选择的数据已存档，不允许修改")
                }
            })
        } else if (ids.length > 1) {
            msg("只能选择一条数据！")
        } else {
            msg("请选择数据！")
        }


    }

    //layer弹出框实现修改
    function nameUpdate() {
        $.post(getUrl("contact/save"), $("#layer").serialize(), function (data1) {
            //若果修改成功跳转页面
            if (data1.code == "100") {
                root.load()
            }
        })

    }

    //实现存档
    function typeUpdate(flagc) {
        var ids = getIds();
        if (ids.length == 1) {
            setPama(ids[0]);
            root.loadedit("contact/one/");
            $.post(base_url + "contact/falgSave/" + getIds() + '/' + flagc, function (data1) {
                //若果修改成功跳转页面
                if (data1.code == "100") {
                    root.load()
                    $('.ace').attr('checked', false);
                }
            })
        } else if (ids.length > 1) {
            msg("只能选择一条数据！")
        } else {
            msg("请选择数据！")
        }

    }
</script>
<script src="js/base-vue.js"></script>
